<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.massanger">

    <uses-permission android:name="android.permission.INTERNET "/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ChatMe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Massanger"
        tools:targetApi="31">


        <service android:name=".Services.messageingService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".Activiry.Availability"
            android:exported="false" />
        <activity
            android:name=".Activiry.profile"
            android:exported="false" />
        <activity
            android:name=".Activiry.Activity_chat"
            android:exported="false" />
        <activity
            android:name=".Activiry.userlist"
            android:exported="false" />
        <activity
            android:name=".Activiry.Homepage"
            android:exported="false" />
        <activity
            android:name=".Activiry.Register"
            android:exported="false" />
        <activity
            android:name=".Activiry.Login"
            android:exported="false" />
        <activity
            android:name=".Activiry.SpleshScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>